{% extends 'base.html' %}
{% block title %}Mis eventos{% endblock %}
{% block content %}
    <h2>Mis eventos</h2>
    <a href="{% url 'crear_evento' %}">➕ Crear nuevo evento</a>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr id="evento-{{ evento.id }}">
                <td>{{ evento.nombre_evento }}</td>
                <td>{{ evento.get_tipo_evento_display }}</td>
                <td>{{ evento.fecha_inicio_evento|date:"d/m/Y H:i" }}</td>
                <td>{{ evento.fecha_fin_evento|date:"d/m/Y H:i" }}</td>
                <td>
                    {% if evento.estado %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'editar_evento' evento.id %}">✏️ Editar</a>
                    <a href="{% url 'detalle_evento' evento.id %}">🔗 Ver enlaces</a>
                    
                    <form action="{% url 'eliminar_evento' evento.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este evento?');" class="btn-eliminar">
                            🗑️ Eliminar
                        </button>
                    </form>
                </td>

            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No tienes eventos creados.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
