<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}DJMENSAJES{% endblock %}</title>
</head>
<body>

  <nav>
    <a href="{% url 'home' %}">🎧 DJMENSAJES</a>

    {% if user.is_authenticated %}
      <span>👋 Hola, <strong>{{ user.username }}</strong></span>
      <a href="{% url 'mis_eventos' %}">Mis eventos</a>
      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Salir</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Entrar</a>
      <a href="{% url 'registro' %}">Registro</a>
    {% endif %}
  </nav>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      {% if messages %}
        {% for message in messages %}
          Swal.fire({
            icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}",
            title: "{{ message|escapejs }}",
            showConfirmButton: false,
            timer: 2000
          });
        {% endfor %}
      {% endif %}
    });
  </script>

</body>
</html>
