{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h1>dwsfxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxds</h1>
    <br>
     <h1>dwsxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfds</h1>
    <br>
     <h1>dxxxxxxxxxxxxxxxxxxxxxxxwsfds</h1>
    <br>
     <h1>dwsfds</h1>
    <br>
     <h1>dwsxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfds</h1>
    <br>
     <h1>dwsfxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxds</h1>
    <br> <h1>dwsfds</h1>
    <br>
     <h1>dwsxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfds</h1>
    <br>
    

{% endblock %}
